{% extends '::base.html.twig' %}

{% block body -%}
    <h1>admisionDelEmpleado</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nuemerodelempleado</th>
                <td>{{ entity.nuemeroDelEmpleado }}</td>
            </tr>
            <tr>
                <th>Diadeingreso</th>
                <td>{{ entity.diaDeIngreso|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Segundonombre</th>
                <td>{{ entity.segundoNombre }}</td>
            </tr>
            <tr>
                <th>Apellidopaterno</th>
                <td>{{ entity.apellidoPaterno }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.eMail }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ entity.genero }}</td>
            </tr>
            <tr>
                <th>Fechadenacimiento</th>
                <td>{{ entity.fechaDeNacimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tituloprofesional</th>
                <td>{{ entity.tituloProfesional }}</td>
            </tr>
            <tr>
                <th>Calificacion</th>
                <td>{{ entity.calificacion }}</td>
            </tr>
            <tr>
                <th>Experienciainfo</th>
                <td>{{ entity.experienciaInfo }}</td>
            </tr>
            <tr>
                <th>Experienciatotal</th>
                <td>{{ entity.experienciaTotal|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Estadocivil</th>
                <td>{{ entity.estadoCivil }}</td>
            </tr>
           
            <tr>
                <th>Celular</th>
                <td>{{ entity.celular }}</td>
            </tr>
            <tr>
                <th>Telefonodecasa</th>
                <td>{{ entity.telefonoDeCasa }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admisiondelempleado') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admisiondelempleado_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
