{% extends '::base.html.twig' %}

{% block body -%}
    <h1>seriesDeTiempoDeClasePorDias</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Domingo</th>
                <td>{{ entity.domingo }}</td>
            </tr>
            <tr>
                <th>Lunes</th>
                <td>{{ entity.lunes }}</td>
            </tr>
            <tr>
                <th>Martes</th>
                <td>{{ entity.martes }}</td>
            </tr>
            <tr>
                <th>Miercoles</th>
                <td>{{ entity.miercoles }}</td>
            </tr>
            <tr>
                <th>Jueves</th>
                <td>{{ entity.jueves }}</td>
            </tr>
            <tr>
                <th>Viernes</th>
                <td>{{ entity.viernes }}</td>
            </tr>
            <tr>
                <th>Sabado</th>
                <td>{{ entity.sabado }}</td>
            </tr>
            <tr>
                <th>Aplicableapartirdel</th>
                <td>{{ entity.aplicableApartirDel|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('seriesdetiempodeclasepordias') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('seriesdetiempodeclasepordias_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
