{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ordenesDeCompra</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ordendecomprano</th>
                <td>{{ entity.ordenDeCompraNo }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Referencia</th>
                <td>{{ entity.referencia }}</td>
            </tr>
            <tr>
                <th>Preciounitario</th>
                <td>{{ entity.precioUnitario }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.cantidad }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ entity.descuento }}</td>
            </tr>
            <tr>
                <th>Impuestos</th>
                <td>{{ entity.impuestos }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ordenesdecompra') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ordenesdecompra_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
