{% extends '::base.html.twig' %}
{% block submenu -%}
      <li><a href="{{ path('pago') }}">Registrar pago</a></li>
      <li><a href="{{ path('cuotacoleccion') }}">Catalogo de cuotas</a></li>
  {% endblock -%}
{% block body -%}
    <h1>cuotaColeccion edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cuotacoleccion') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
