{% extends '::index.html.twig' %}
{% block submenu -%}
      <li><a href="{{ path('pago') }}">Registrar pago</a></li>
      <li><a href="{{ path('cuotacoleccion') }}">Catalogo de cuotas</a></li>
  {% endblock -%}
{% block scripts -%}
<style type="text/css">
	.ctnOculto{
		display: none;
	}
</style>
<script type="text/javascript">
	$(".slcShow" ).on('change', function() {
        	valor= $( this ).val() ;
			if(valor==1){
				$(".ctnOculto").hide(  );
			}else{
				$( ".ctnOculto" ).show(  );
			}
  });
</script>
{% endblock %}
{% block panel -%}
   <div class="col-md-12">
        <div class="widget widget-green">
          	<div class="widget-title">
  	            <div class="widget-controls">
            					  <a href="#" class="widget-control widget-control-full-screen" data-toggle="tooltip" data-placement="top" title="" data-original-title="Full Screen"><i class="fa fa-expand"></i></a>
            					  <a href="#" class="widget-control widget-control-full-screen widget-control-show-when-full" data-toggle="tooltip" data-placement="left" title="" data-original-title="Exit Full Screen"><i class="fa fa-expand"></i></a>
            					  <a href="#" data-toggle="dropdown" class="widget-control widget-control-settings"><i class="fa fa-cog"></i></a>
            					  <div class="dropdown" data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
            					    <ul class="dropdown-menu dropdown-menu-small" role="menu" aria-labelledby="dropdownMenu1">
            					      <li class="dropdown-header">Set Widget Color</li>
            					      <li><a data-widget-color="blue" class="set-widget-color" href="#">Blue</a></li>
            					      <li><a data-widget-color="red" class="set-widget-color" href="#">Red</a></li>
            					      <li><a data-widget-color="green" class="set-widget-color" href="#">Green</a></li>
            					      <li><a data-widget-color="orange" class="set-widget-color" href="#">Orange</a></li>
            					      <li><a data-widget-color="purple" class="set-widget-color" href="#">Purple</a></li>
            					    </ul>
            					  </div>
            					  <a href="#" class="widget-control widget-control-refresh" data-toggle="tooltip" data-placement="top" title="" data-original-title="Actualizar"><i class="fa fa-refresh"></i></a>
            					  <a href="#" class="widget-control widget-control-minimize" data-toggle="tooltip" data-placement="top" title="" data-original-title="Minimizar"><i class="fa fa-minus-circle"></i></a>
            					  <a href="#" class="widget-control widget-control-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quitar"><i class="fa fa-times-circle"></i></a>
  				      </div>
              	<h3><i class="fa fa-ok-circle"></i>Nuevo alumno</h3>
          	</div>
          	<div class="widget-content">
     		    {{ form_start(form, {'attr': {'class': 'form_transaccion_edit'}}) }}
            <h4 class="widget-header">Nueva cuota</h4>
    			<div class="row">
       				<div class="col-md-6">  
	                     <div class="form-group">
	                        <label>Nombre</label>
	                        {{ form_widget(form.cuotaNombreDeLaColeccion, {'attr': {'class': 'form-control'}}) }}
	                        <span class="errorMsg">{{ form_errors(form.cuotaNombreDeLaColeccion) }}</span> 
	                     </div>
                  	</div>
                  	<div class="col-md-6">  
	                     <div class="form-group">
	                        <label>Monto</label>
	                        {{ form_widget(form.monto, {'attr': {'class': 'form-control'}}) }}
	                        <span class="errorMsg">{{ form_errors(form.monto) }}</span> 
	                     </div>
                  	</div>
                  	<div class="col-md-6">  
	                     <div class="form-group">
	                        <label>Tipo</label>
	                        {{ form_widget(form.tipo, {'attr': {'class': 'form-control slcShow'}}) }}
	                        <span class="errorMsg">{{ form_errors(form.tipo) }}</span> 
	                     </div>
                  	</div>
                  	<div class="col-md-6 ctnOculto">  
	                     <div class="form-group">
	                        <label>Fecha de inicio</label>
	                        {{ form_widget(form.fechaDeInicio, {'attr': {'class': 'form-control'}}) }}
	                        <span class="errorMsg">{{ form_errors(form.fechaDeInicio) }}</span> 
	                     </div>
                  	</div>
                  	<div class="col-md-6 ctnOculto">  
	                     <div class="form-group">
	                        <label>Fecha de termino</label>
	                        {{ form_widget(form.fechaFinal, {'attr': {'class': 'form-control'}}) }}
	                        <span class="errorMsg">{{ form_errors(form.fechaFinal) }}</span> 
	                     </div>
                  	</div>
                  	<div class="col-md-6 ctnOculto">  
	                     <div class="form-group">
	                        <label>Recurrencia</label>
	                        <div class="row">
	                        	<div class="col-md-3">
			                        <input type="text" name="txtCantidad" class="form-control col-md-2">
			                    </div>
			                    <div class="col-md-4">
			                        <select name="slcPeriodo" class="form-control">
			                        	<option value="1">Dias</option>
			                        	<option value="2">Mes</option>
			                        	<option value="3">Año</option>
			                        </select>
			                    </div>
			                </div>
	                     </div>
                  	</div>
                  	<div class="col-md-6 ctnOculto">  
	                     <div class="form-group">
	                        <label>Dia recorrido</label>
	                        <select name="slcPeriodo" class="form-control">
	                        	<option value="1">Lunes</option>
	                        	<option value="2">Viernes</option>
	                        </select>
	                     </div>
                  	</div>
                </div>
    		          <button class="btn btn-primary" type="submit">Guardar</button>
                  <button class="btn btn-default" type="reset">Limpiar</button>
            {{ form_end(form) }}
          </div>      
      </div>
    </div>
{% endblock %}
