{% extends '::base.html.twig' %}

{% block body -%}
    <h1>crearParticulares list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Crearusando</th>
                <th>Importe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('crearparticulares_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.crearUsando }}</td>
                <td>{{ entity.importe }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('crearparticulares_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('crearparticulares_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('crearparticulares_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
