{% extends '::base.html.twig' %}
{% block submenu -%}
      <li><a href="{{ path('lotes') }}">Ciclo escolar</a></li>
      <li><a href="{{ path('curso') }}">Grados</a></li>
      <li><a href="{{ path('configuracionesgenerales') }}">Datos del colegio</a></li>
  {% endblock -%}
{% block body -%}
    <h1>configuracionesGenerales edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('configuracionesgenerales') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
