{% extends '::index.html.twig' %}
{% block submenu -%}
      <li><a href="{{ path('lotes') }}">Ciclo escolar</a></li>
      <li><a href="{{ path('curso') }}">Grados</a></li>
      <li><a href="{{ path('configuracionesgenerales') }}">Datos del colegio</a></li>
  {% endblock -%}
{% block style %}
 <link rel='stylesheet' href="{{ asset('bundles/escuela/css/file.css') }}" >
{% endblock %}
{% block scripts -%}
<script src="{{ asset('bundles/escuela/js/fileinput.js')}}"></script>
<script type="text/javascript">
  $(".file").fileinput({
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions : ['jpg', 'png','gif'],
        overwriteInitial: false,
        maxFileSize: 1000,
        maxFilesNum: 1,
        showCaption: false,
      showRemove: false,
      showUpload: false,
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function(filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
  });
</script>
{% endblock %}
{% block panel -%}
   <div class="col-md-12">
        <div class="widget widget-green">
          	<div class="widget-title">
  	            <div class="widget-controls">
            					  <a href="#" class="widget-control widget-control-full-screen" data-toggle="tooltip" data-placement="top" title="" data-original-title="Full Screen"><i class="fa fa-expand"></i></a>
            					  <a href="#" class="widget-control widget-control-full-screen widget-control-show-when-full" data-toggle="tooltip" data-placement="left" title="" data-original-title="Exit Full Screen"><i class="fa fa-expand"></i></a>
            					  <a href="#" data-toggle="dropdown" class="widget-control widget-control-settings"><i class="fa fa-cog"></i></a>
            					  <div class="dropdown" data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
            					    <ul class="dropdown-menu dropdown-menu-small" role="menu" aria-labelledby="dropdownMenu1">
            					      <li class="dropdown-header">Set Widget Color</li>
            					      <li><a data-widget-color="blue" class="set-widget-color" href="#">Blue</a></li>
            					      <li><a data-widget-color="red" class="set-widget-color" href="#">Red</a></li>
            					      <li><a data-widget-color="green" class="set-widget-color" href="#">Green</a></li>
            					      <li><a data-widget-color="orange" class="set-widget-color" href="#">Orange</a></li>
            					      <li><a data-widget-color="purple" class="set-widget-color" href="#">Purple</a></li>
            					    </ul>
            					  </div>
            					  <a href="#" class="widget-control widget-control-refresh" data-toggle="tooltip" data-placement="top" title="" data-original-title="Actualizar"><i class="fa fa-refresh"></i></a>
            					  <a href="#" class="widget-control widget-control-minimize" data-toggle="tooltip" data-placement="top" title="" data-original-title="Minimizar"><i class="fa fa-minus-circle"></i></a>
            					  <a href="#" class="widget-control widget-control-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quitar"><i class="fa fa-times-circle"></i></a>
  				      </div>
              	<h3><i class="fa fa-ok-circle"></i>Detalles de la escuela</h3>
          	</div>
          	<div class="widget-content">
     		    {{ form_start(form, {'attr': {'class': 'form_transaccion_edit'}}) }}
            <h4 class="widget-header">Datos de la escuela</h4>
    			       <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                      <label>Logotipo</label>
                        {{ form_widget(form.archivo.imagen,{'attr': {'required': 'true'}}) }}
                                  <span class="errorMsg">{{ form_errors(form.archivo.imagen) }}</span>
                              </div>
                      </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Nombre</label>
                        {{ form_widget(form.nombreDelColegio, {'attr': {'class': 'form-control'}}) }}
                        <span class="errorMsg">{{ form_errors(form.nombreDelColegio) }}</span>                    
                      </div>
                    </div>                
                   
                  <div class="col-md-6">  
      	             <div class="form-group">
      	                <label>Direccion</label>
      	                {{ form_widget(form.direccionDelColegio, {'attr': {'class': 'form-control'}}) }}
      	                <span class="errorMsg">{{ form_errors(form.direccionDelColegio) }}</span> 
      	             </div>
                  </div>                  
                  <div class="col-md-6">  
                     <div class="form-group">
                        <label>Folio inicial de recibos de pago</label>
                        {{ form_widget(form.numeroDeReciboPartir, {'attr': {'class': 'form-control'}}) }}
                        <span class="errorMsg">{{ form_errors(form.numeroDeReciboPartir) }}</span> 
                     </div>
                  </div>
                  <div class="col-md-6">  
                     <div class="form-group">
                        <label>Moneda de cobro</label>
                        {{ form_widget(form.tipoDeMoneda, {'attr': {'class': 'form-control'}}) }}
                        <span class="errorMsg">{{ form_errors(form.tipoDeMoneda) }}</span> 
                     </div>
                  </div>
                  <div class="col-md-6">  
                     <div class="form-group">
                        <label>Numero de control automatico</label>
                        {{ form_widget(form.incrementoDeAdmisionEstudiantilNo, {'attr': {'class': 'form-control'}}) }}
                        <span class="errorMsg">{{ form_errors(form.incrementoDeAdmisionEstudiantilNo) }}</span> 
                     </div>
                  </div>
                  <div class="col-md-6">  
                     <div class="form-group">
                        <label>Numero de empleado automatico</label>
                        {{ form_widget(form.incrementoDelEmpleadoNo, {'attr': {'class': 'form-control'}}) }}
                        <span class="errorMsg">{{ form_errors(form.incrementoDelEmpleadoNo) }}</span> 
                     </div>
                  </div>
                  <div class="col-md-6">  
                     <div class="form-group">
                        <label>Moderar comentarios</label>
                        {{ form_widget(form.noticiasModeracionDeComentarios, {'attr': {'class': 'form-control'}}) }}
                        <span class="errorMsg">{{ form_errors(form.noticiasModeracionDeComentarios) }}</span> 
                     </div>
                  </div>
                  <div class="col-md-6">  
                     <div class="form-group">
                        <label>Activar cambio de contraseña en primer inicio de sesion</label>
                        {{ form_widget(form.cambioDeContrasenaInicioDeSesion, {'attr': {'class': 'form-control'}}) }}
                        <span class="errorMsg">{{ form_errors(form.cambioDeContrasenaInicioDeSesion) }}</span> 
                     </div>
                  </div>
                </div>
                <h4 class="widget-header">Datos de contacto</h4>
                <div class="row">
                   <div class="col-md-6">  
                     <div class="form-group">
                        <label>Telefono</label>
                        {{ form_widget(form.telefonoDelColegio, {'attr': {'class': 'form-control'}}) }}
                        <span class="errorMsg">{{ form_errors(form.telefonoDelColegio) }}</span> 
                     </div>
                  </div>
                  <div class="col-md-6">  
                     <div class="form-group">
                        <label>Email</label>
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        <span class="errorMsg">{{ form_errors(form.email) }}</span> 
                     </div>
                  </div>	
                   <div class="col-md-6">  
                     <div class="form-group">
                        <label>Facebook</label>
                        {{ form_widget(form.facebook, {'attr': {'class': 'form-control'}}) }}
                        <span class="errorMsg">{{ form_errors(form.facebook) }}</span> 
                     </div>
                  </div>
                  <div class="col-md-6">  
                     <div class="form-group">
                        <label>Twiter</label>
                        {{ form_widget(form.twiter, {'attr': {'class': 'form-control'}}) }}
                        <span class="errorMsg">{{ form_errors(form.twiter) }}</span> 
                     </div>
                  </div>
                                   
                </div>
    		      <button class="btn btn-primary" type="submit">Guardar</button>
                  <button class="btn btn-default" type="reset">Limpiar</button>
            {{ form_end(form) }}
          </div>      
      </div>
    </div>
{% endblock %}
