{% extends '::base.html.twig' %}

{% block body -%}
    <h1>anadirLibro</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numerodelibro</th>
                <td>{{ entity.numeroDeLibro }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ entity.autor }}</td>
            </tr>
            <tr>
                <th>Etiquetas</th>
                <td>{{ entity.etiquetas }}</td>
            </tr>
            <tr>
                <th>Etiquetaspersonalizadas</th>
                <td>{{ entity.etiquetasPersonalizadas }}</td>
            </tr>
            <tr>
                <th>Numerodecopias</th>
                <td>{{ entity.numeroDeCopias }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('anadirlibro') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('anadirlibro_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
