{% extends '::base.html.twig' %}

{% block body -%}
    <h1>asignaturas</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Clasesporsemana</th>
                <td>{{ entity.clasesPorSemana }}</td>
            </tr>
            <tr>
                <th>Examen</th>
                <td>{{ entity.examen }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('asignaturas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('asignaturas_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
