{% extends '::base.html.twig' %}
{% block submenu -%}
      <li><a href="{{ path('lotes') }}">Ciclo escolar</a></li>
      <li><a href="{{ path('curso') }}">Grados</a></li>
      <li><a href="{{ path('configuracionesgenerales') }}">Datos del colegio</a></li>
  {% endblock -%}
{% block body -%}
    <h1>curso</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombredelcurso</th>
                <td>{{ entity.nombreDelCurso }}</td>
            </tr>
            <tr>
                <th>Nombredelaseccion</th>
                <td>{{ entity.nombreDeLaSeccion }}</td>
            </tr>
            <tr>
                <th>Activarlaseleccionelectiva</th>
                <td>{{ entity.activarLaSeleccionElectiva }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('curso') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('curso_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
